{% extends 'layout.html' %}
{% block content %}
<div id="upload">
    <table>
        <tr>
            <td>
                <h2>Choose a file to upload</h2>
            </td>
        </tr>
        <tr>
            <td>
                <form name="upload-form" enctype="multipart/form-data" method="post" action="upload">
                    <div class="upload-file">
                        <img class="upload-img" src="assets/img/upload-icon.png"/>
                        <input class="upload-input" name="file" type="file"/>
                    </div>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <h2>
                    or paste URL from
                    <a href="http://www.youtube.com" target="_blank">
                        <img class="yt-logo" src="assets/img/youtube_logo.png"/>
                    </a>
                </h2>
            </td>
        </tr>
        <tr>
            <td>
                <form name="yt-form" method="post" action="yt_upload">
                    <input class="yt-input" type="text" name="youtube_url" placeholder="Enter YouTube link here..."/>
                    <input class="yt-submit" type="submit" name="yt-form" value="Send"/>
                </form>
            </td>
        </tr>
    </table>
</div>

<audio controls></audio>

<div id="chart-container">
    <canvas id="genres-chart"></canvas>
    <div id="legend">
        <ul>
            <li><span style="background: #0033cc;"></span> Blues</li>
            <li><span style="background: #cc6600;"></span> Country</li>
            <li><span style="background: #ff66cc;"></span> Disco</li>
            <li><span style="background: #660066;"></span> HipHop</li>
            <li><span style="background: #999966;"></span> Metal</li>
            <li><span style="background: #00cc66;"></span> Pop</li>
            <li><span style="background: #ffcc66;"></span> Reggae</li>
            <li><span style="background: #cc0000;"></span> Rock</li>
        </ul>
    </div>
</div>
{% endblock %}
