<!doctype html>
<html lang="en">
    <head>
        <title>Music Genre Detection</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
        <script src="assets/js/play.js"></script>
        <script src="assets/js/upload.js"></script>
        <script src="assets/js/examples.js"></script>
        <link rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.ico' />
        <link rel="stylesheet" type="text/css" href="assets/css/style.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
              rel="stylesheet" 
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">  
    </head>
    <body>
        <a id="index-header" class="header" href="/">
            <i class="fa fa-music" aria-hidden="true"></i>
            <span>Music Genre Detection</span>
        </a>
        {% block content %}{% endblock %}
    </body>
</html>
